.menu_list {
    font-weight: 600;
    font-size: 20px;
}

a {
    text-decoration: none;
}


.mt-5 {
    margin-top: 5rem !important;
}

h1 {
    color: black;
}

.carousel-caption {
    top: 30%;
}

.row-cols-1 img {
    width: 31rem;
    height: 10rem;
}

.acc_part {
    margin: auto
}

.edtech_bg-primary {
    background-color: rgb(191, 216, 208);
}



footer {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 4200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;

}

.upper {
    margin-top: 40px;
    position: relative;
    color: aliceblue;

}

#line {
    width: 520px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.end-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 698px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

}

.social-link {
    column-gap: 40px;
    margin-top: 00px;
    font-size: 30px;

}

.slide_pic img {
    height: 700px;
    opacity: 6;

}

@media only screen and (max-width:688px) {
    footer {
        top: 8800px;
    }

    .student img {
        width: 31rem;
        height: 10rem;
    }

}